{% extends "base-1.html" %}

{% block content %}




<main>

    <!-- Hero Section -->
    <section class="section-container bg-gray-50 min-h-fit py-16 flex justify-center items-center gap-x-16 text-white">






        <div class="w-[350px] h-[460px] bg-transparent cursor-pointer group perspective py-2">
            <div class="relative preserve-3d group-hover:my-rotate-y-180 w-full h-full duration-1000 py-4">
                <div class="absolute backface-hidden border-8 border-blue-900 w-full h-full">
                    <img src="../static/img/event-4.jpg" class="w-full h-full" />
                </div>
                <div class="absolute my-rotate-y-180 backface-hidden w-full h-full bg-gray-100 overflow-hidden">
                    <div class="text-center flex flex-col items-center justify-center h-full text-gray-800 px-2 pb-24">
                        <h1 class="text-3xl font-semibold">International Youth Day</h1>
                        <p class="my-2 text-xs text-gray-600 pb-4">International Youth Day celebrates the power and
                            potential of
                            young people
                            worldwide. It raises awareness of youth issues and promotes their empowerment for a more
                            inclusive and sustainable future.</p>
                        <table class="text-sm">
                            <tr>
                                <th>Date:</th>
                                <td>Sat, 12th Aug 2023</td>
                            </tr>
                            <tr>
                                <th>Time:</th>
                                <td>4:00 PM</td>
                            <tr>
                                <th>Admission:</th>
                                <td>Free</td>
                            </tr>
                            <tr>
                                <th>Location:</th>
                                <td>ALU Campus</td>
                            </tr>
                            <tr>
                                <th>RSVP:</th>
                                <td>+250 790 135 774</td>
                            </tr>
                        </table>
                        <button
                            class="bg-sky-600 px-6 py-2 font-semibold text-white rounded-full absolute -bottom-10 delay-500 duration-1000 group-hover:bottom-10 scale-0 group-hover:scale-125">
                            Learn more
                        </button>
                    </div>
                </div>
            </div>
        </div>




        <div class="w-[350px] h-[460px] bg-transparent cursor-pointer group perspective py-2">
            <div class="relative preserve-3d group-hover:my-rotate-y-180 w-full h-full duration-1000 py-4">
                <div class="absolute backface-hidden border-8 border-blue-900 w-full h-full">
                    <img src="../static/img/event-3.jpg" class="w-full h-full" />
                </div>
                <div class="absolute my-rotate-y-180 backface-hidden w-full h-full bg-gray-100 overflow-hidden">
                    <div class="text-center flex flex-col items-center justify-center h-full text-gray-800 px-2 pb-24">
                        <h1 class="text-3xl font-semibold">Sip 'N' Chill</h1>
                        <p class="my-2 text-xs text-gray-600 pb-4">International Youth Day celebrates the power and
                            potential of
                            young people
                            worldwide. It raises awareness of youth issues and promotes their empowerment for a more
                            inclusive and sustainable future.</p>
                        <table class="text-sm">
                            <tr>
                                <th>Date:</th>
                                <td>Sat, 12th Aug 2023</td>
                            </tr>
                            <tr>
                                <th>Time:</th>
                                <td>4:00 PM</td>
                            <tr>
                                <th>Admission:</th>
                                <td>Free</td>
                            </tr>
                            <tr>
                                <th>Location:</th>
                                <td>ALU Campus</td>
                            </tr>
                            <tr>
                                <th>RSVP:</th>
                                <td>+250 790 135 774</td>
                            </tr>
                        </table>
                        <button
                            class="bg-sky-600 px-6 py-2 font-semibold text-white rounded-full absolute -bottom-10 delay-500 duration-1000 group-hover:bottom-10 scale-0 group-hover:scale-125">
                            Learn more
                        </button>
                    </div>
                </div>
            </div>
        </div>






        <div class="w-[350px] h-[460px] bg-transparent cursor-pointer group perspective py-2">
            <div class="relative preserve-3d group-hover:my-rotate-y-180 w-full h-full duration-1000 py-4">
                <div class="absolute backface-hidden border-8 border-blue-900 w-full h-full">
                    <img src="../static/img/event-2.jpg" class="w-full h-full" />
                </div>
                <div class="absolute my-rotate-y-180 backface-hidden w-full h-full bg-gray-100 overflow-hidden">
                    <div class="text-center flex flex-col items-center justify-center h-full text-gray-800 px-2 pb-24">
                        <h1 class="text-3xl font-semibold">Summer Movie Hour</h1>
                        <p class="my-2 text-xs text-gray-600 pb-4">International Youth Day celebrates the power and
                            potential of
                            young people
                            worldwide. It raises awareness of youth issues and promotes their empowerment for a more
                            inclusive and sustainable future.</p>
                        <table class="text-sm">
                            <tr>
                                <th>Date:</th>
                                <td>Sat, 12th Aug 2023</td>
                            </tr>
                            <tr>
                                <th>Time:</th>
                                <td>4:00 PM</td>
                            <tr>
                                <th>Admission:</th>
                                <td>Free</td>
                            </tr>
                            <tr>
                                <th>Location:</th>
                                <td>ALU Campus</td>
                            </tr>
                            <tr>
                                <th>RSVP:</th>
                                <td>+250 790 135 774</td>
                            </tr>
                        </table>
                        <button
                            class="bg-sky-600 px-6 py-2 font-semibold text-white rounded-full absolute -bottom-10 delay-500 duration-1000 group-hover:bottom-10 scale-0 group-hover:scale-125">
                            Learn more
                        </button>
                    </div>
                </div>
            </div>
        </div>


    </section>









    <!-- Discription-->
    <section class="bg-white dark:bg-white">
        <div class="container p-24 mx-auto pb-[20vh]">
            <div class="lg:flex lg:items-center">
                <div class="w-full space-y-12 lg:w-1/2 ">
                    <div>
                        <h1 class="text-2xl font-bold text-gray-800 capitalize lg:text-4xl dark:text-gray-800">
                            explore our <br>
                            awesome Website & Services</h1>

                        <div class="mt-2">
                            <span class="inline-block w-40 h-1 bg-blue-500 rounded-full"></span>
                            <span class="inline-block w-3 h-1 ml-1 bg-blue-500 rounded-full"></span>
                            <span class="inline-block w-1 h-1 ml-1 bg-blue-500 rounded-full"></span>
                        </div>
                    </div>

                    <div class="md:flex md:items-start md:-mx-4">
                        <span
                            class="inline-block p-2 text-blue-500 bg-blue-100 rounded-xl md:mx-4 dark:text-white dark:bg-blue-500">
                            <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" fill="none" viewBox="0 0 24 24"
                                stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                    d="M9 5H7a2 2 0 00-2 2v12a2 2 0 002 2h10a2 2 0 002-2V7a2 2 0 00-2-2h-2M9 5a2 2 0 002 2h2a2 2 0 002-2M9 5a2 2 0 012-2h2a2 2 0 012 2m-3 7h3m-3 4h3m-6-4h.01M9 16h.01" />
                            </svg>
                        </span>

                        <div class="mt-4 md:mx-4 md:mt-0">
                            <h1 class="text-xl font-semibold text-gray-700 capitalize dark:text-gray-900">Clubs &
                                Events</h1>

                            <p class="mt-3 text-gray-500 dark:text-gray-800">
                                CALU, serves as a central hub for diverse clubs at ALU, empowering students to have
                                a vibrant and
                                fulfilling extracurricular journey at ALU.
                            </p>
                        </div>
                    </div>

                    <div class="md:flex md:items-start md:-mx-4">
                        <span
                            class="inline-block p-2 text-blue-500 bg-blue-100 rounded-xl md:mx-4 dark:text-white dark:bg-blue-500">
                            <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" fill="none" viewBox="0 0 24 24"
                                stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                    d="M12 6V4m0 2a2 2 0 100 4m0-4a2 2 0 110 4m-6 8a2 2 0 100-4m0 4a2 2 0 110-4m0 4v2m0-6V4m6 6v10m6-2a2 2 0 100-4m0 4a2 2 0 110-4m0 4v2m0-6V4" />
                            </svg>
                        </span>

                        <div class="mt-4 md:mx-4 md:mt-0">
                            <h1 class="text-xl font-semibold text-gray-700 capitalize dark:text-gray-900">Easy To
                                Sign Up & Create
                            </h1>

                            <p class="mt-3 text-gray-500 dark:text-gray-800">
                                CALU simplifies club engagement for ALU students, enabling effortless exploration,
                                joining clubs, and
                                initiating new ones. Align your extracurricular experience with your interests
                                and passions with CALU.
                            </p>
                        </div>
                    </div>

                    <div class="md:flex md:items-start md:-mx-4">
                        <span
                            class="inline-block p-2 text-blue-500 bg-blue-100 rounded-xl md:mx-4 dark:text-white dark:bg-blue-500">
                            <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" fill="none" viewBox="0 0 24 24"
                                stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                    d="M17.657 18.657A8 8 0 016.343 7.343S7 9 9 10c0-2 .5-5 2.986-7C14 5 16.09 5.777 17.656 7.343A7.975 7.975 0 0120 13a7.975 7.975 0 01-2.343 5.657z" />
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                    d="M9.879 16.121A3 3 0 1012.015 11L11 14H9c0 .768.293 1.536.879 2.121z" />
                            </svg>
                        </span>

                        <div class="mt-4 md:mx-4 md:mt-0">
                            <h1 class="text-xl font-semibold text-gray-700 capitalize dark:text-gray-900"> Made by
                                ALU for ALU </h1>

                            <p class="mt-3 text-gray-500 dark:text-gray-800">
                                CALU is created by BSE students as part of the Foundation module's portfolio
                                project, to
                                showcase their innovation and dedication. It delivers valuable resources, crafted
                                with passion and expertise.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="hidden lg:flex lg:items-center lg:w-1/2 lg:justify-center">
                    <img class="w-[28rem] h-[28rem] object-cover xl:w-[34rem] xl:h-[34rem] rounded-full"
                        src="/src/frontend/static/img/blue-icon.png" alt="">
                </div>
            </div>

        </div>

    </section>





</main>





{% endblock%}